<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sarina Maharjan's Resume</title>
    <link rel="stylesheet" href="../styling/resume.css">
    <link rel="stylesheet" href="../Fontams/css/brands.min.css">
    <link rel="stylesheet" href="../Fontams/css/fontawesome.min.css">
</head>

<body>
    <div class="nav">
        <!--for menu-->
        <div class="menu">
            <ul>
                <li><a href="#"> HOME </a></li>
                <li><a href="#"> ABOUT </a></li>
                <li><a href="#"> EXPERTISE </a></li>
                <li><a href=#> QUALIFICATIONS </a></li>
                <li><a href="#"> EXPERIENCE </a></li>
            </ul>
            <div class="GIT">
                <ul>
                    <li><a href="#">GET IN TOUCH</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!--FOR intro-->
    <div class="Intro">
        <h1>SARINA <br> <span> MAHARJAN </span></h1>
        <h2> Business Development</h2>
        <div class="Box">
            <a href="#"><button class="Resume"> RESUME </button></a>
            <a href="#"><button class="Resume"> CONTACT </button></a>
           

        </div>

        <div class="socials" style="padding-top: 10px; color: rgb(28, 23, 46);">
            <i class="fa-brands fa-facebook fa-2xl"></i>
            <i class="fa-brands fa-linkedin fa-2xl"></i>
            <i class="fa-brands fa-square-whatsapp fa-2xl"></i>
            <i class="fa-brands fa-pinterest fa-2xl "></i>
        </div>
    </div>

    <!--For about section-->
    <div id="about" style="padding-top: 50px; margin-top: 50px; background: rgb(28, 23, 46); height:550px;">
        <pre
            style="font-size: 30px;color: #F8F8F8; font-family: 'Times New Roman', Times, serif; font-weight: 900; text-align: center;"> Who am I? <br> <span style="text-align: center; font-size: 60px; color: #F8F8F8; font-family: 'Times New Roman', Times, serif;"> ABOUT ME </span>
        </pre>
        <div class="underline"
            style="width:200px; height:8px; background-color: #F8F8F8; margin-left: 600px; margin-top: -50px; margin-bottom: 30px;">
        </div>
            <div class="introduction" style="margin-top: 50px;">
                <div class="intro" style="width: 40%; float:left; margin-left: 100px;">
                    <h1 style="font-weight: 600; font-family: 'Times New Roman', Times, serif; font-size: 36px; color: #F8F8F8">
                Sarina Maharjan's Detail</h1>
                    <p style="text-align: justify; font-size: 18px; color: #F8F8F8;"> With a Master’s degree in Business Management and diverse
                professional experience, I specialize in business development, strategic communication, sales &
                marketing, research, and program management. I thrive in dynamic teams, love collaborating on innovative
                solutions, and firmly believe that change is an opportunity for growth. My journey so far has been
                driven by curiosity, determination, and a love for turning insights into action. I value constructive
                feedback, growth, and adapting to change — qualities that keep me moving forward in every project I take
                on. </p>
                </div>
                <div class="photo" style="width:50%; float:right;">
                <img src="#" alt="Sarina Maharjan"
                style="width:300px; height: 300px; margin-top: 30px; margin-right: 200px; float:right;">
                </div>
        </div>
    </div>


<!--For Expertise Section-->
    <div id="Expertise" style="padding-top: 50px;" >
                <h1 style="font-size: 30px;color: rgb(28, 23, 46); font-family: 'Times New Roman', Times, serif; font-weight: 900; text-align: center;">
            What I Do? <br><span
                style="font-size: 60px; color: rgb(28, 23, 46); font-family: 'Times New Roman', Times, serif; display:flex; justify-content: center;">
                EXPERTISE </span> </h1>
        <div class="underline2" style="width:200px; height:8px; background-color: rgb(28, 23, 46); margin-left: 600px;">
        </div>
        <div class="maincomponent"
            style="display: grid; padding: 30px; margin-left:90px; margin-right: 60px; grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); gap: 40px; margin-top: 60px; font-size: 20px; font-weight: 600;">
            <div class="component"
                style="align-self: center; background: #F8F8F8; border: 2px solid rgb(28, 23, 46); gap: 20px; padding:30px 20px; border-radius: 10px; transition: 0.4s ease; box-shadow: 0 0 0 rgba(0,0,0,0.2);">
                Business Development & Strategy </div>
            <div class="component"
                style="align-self: center; background: #F8F8F8; border: 2px solid rgb(28, 23, 46); gap: 20px; padding:30px 20px; border-radius: 10px; transition: 0.4s ease; box-shadow: 0 0 0 rgba(0,0,0,0.2);">
                Sales & Marketing </div>
            <div class="component"
                style="align-self: center; background: #F8F8F8; border: 2px solid rgb(28, 23, 46); gap: 20px; padding:30px 20px; border-radius: 10px; transition: 0.4s ease; box-shadow: 0 0 0 rgba(0,0,0,0.2);">
                Research & Consulting </div>
            <div class="component"
                style="align-self: center; background: #F8F8F8; border: 2px solid rgb(28, 23, 46); gap: 20px; padding:30px 20px; border-radius: 10px; transition: 0.4s ease; box-shadow: 0 0 0 rgba(0,0,0,0.2);">
                Program & Event Management </div>
            <div class="component"
                style="align-self: center; background: #F8F8F8; border: 2px solid rgb(28, 23, 46); gap: 20px; padding:30px 20px; border-radius: 10px; transition: 0.4s ease; box-shadow: 0 0 0 rgba(0,0,0,0.2);">
                Content Creation </div>
            <div class="component"
                style="align-self: center; background: #F8F8F8; border: 2px solid rgb(28, 23, 46); gap: 20px; padding:30px 20px; border-radius: 10px; transition: 0.4s ease; box-shadow: 0 0 0 rgba(0,0,0,0.2);">
                Client Relationship Management </div>
        </div>
    </div>
    
    <!--For Education experience-->
    <div id="Qualification" style="margin-top: 80px; padding-top: 50px; padding-bottom: 50px;">
        <h1 style="font-size: 30px;color: #F8F8F8; font-family: 'Times New Roman', Times, serif; font-weight: 900; text-align: center;"> Academic Background <br><span style="font-size: 60px; color: #F8F8F8; font-family: 'Times New Roman', Times, serif; display:flex; justify-content: center;"> QUALIFICATION </span> </h1>
        <div class="underline2" style="width:200px; height:8px; background-color:#F8F8F8; margin-left: 600px;">
        </div>
        <!-- <ul style="margin-left: 100px; margin-top: 80px;">
            <li style="font-weight: 600;"><span style="font-size: 30px; color: #F8F8F8;"> MBA – Master’s in
                    Business Management </span>
                <p style="font-style: italic; font-size: 20px; color: gainsboro; "> Lincoln International College of Management and IT (Lincoln University)
                </p>
            </li>
            <br>
            <li style="font-weight: 600;"><span style="font-size: 30px; color: #F8F8F8;"> BBM – Bachelor in
                    Business Management </span>
                <p style="font-style: italic; font-size: 20px; color: gainsboro;"> Shanker Dev Campus (Tribhuvan University) </p>
            </li>
        </ul> -->
        <div class="edu"> 
            <!-- <img src="../Images/Graduate.png" style="width: 140px; height: 80px; margin-left: 80px; display: inline-block; float: left; margin-right: 20px;"> -->
            <h1 style="font-weight: 600; margin-top: 50px; font-size: 30px; color: #F8F8F8; margin-left: 100px;"> MBA – Master’s in Business Management </h1>
            <p style="font-style: italic; font-size: 20px; color: beige; margin-left: 100px;"> Lincoln International College of Management and IT (Lincoln University) </p>
            
            <img src="../Images/Graduate.png" style="width: 140px; height: 80px; margin-left: 80px; display: inline-block; margin-right: 20px; align-self: center;">
            <h1 style="font-weight: 600; margin-left: 100px; margin-top: 50px; font-size: 30px; color: #F8F8F8;"> BBM – Bachelor in Business Management </span> </h1>
            <p style="font-style: italic; font-size: 20px; color: beige; margin-left: 230px;"> Shanker Dev Campus (Tribhuvan University) </p>
        </div>
        
    </div>
    <!--For Experience-->
    <div id="Experience" style="padding-top: 50px;">
        <h1
            style="font-size: 30px;color: rgb(28, 23, 46); font-family: 'Times New Roman', Times, serif; font-weight: 900; text-align: center;">
            What I have Done <br><span
                style="font-size: 60px; color: rgb(28, 23, 46); font-family: 'Times New Roman', Times, serif; display:flex; justify-content: center;">
                EXPERIENCE </span> </h1>
        <div class="underline2" style="width:200px; height:8px; background-color: rgb(28, 23, 46); margin-left: 600px;">
        </div>
        <div class="Exp" style="margin-left: 100px; margin-top: 100px; margin-right: 50px;">
            <div class="indexp">
                <img src="../Images/logofinalsmall-150x150.png" style="width:100px; height:100px;" alt="TechZen">
                <div class="orgn"
                    style="font-size: 24px;color: rgb(28, 23, 46); font-family: 'Times New Roman', Times, serif; font-weight: 700;">
                    TechZen Corporation Pvt. Ltd </div>
                <div class="post" style=" font-size: 20px;"> Business Development Manager </div>
                <div class="date" style="font-style: italic; font-weight: 600;"> (Jan 2023 - Present) </div>
                <ul  style="line-height: 1.5;">
                    <li> Spearheaded business development initiatives, expanding the client base and contributing
                        significantly to revenue growth. </li>
                    <li> Oversaw budgeting, payroll, and compliance operations, ensuring financial accuracy and
                        regulatory alignment. </li>
                    <li> Built and nurtured client relationships by understanding IT requirements and proposing tailored
                        tech solutions. </li>
                    <li> Collaborated cross-functionally with technical teams to craft customized proposals and close
                        high-value deals. </li>
                </ul>
            </div>
            <div class="indexp">
                <img src="../Images/1737102128-70-sarvanam-software.png" style="width:170px; height: 100px;"
                    alt="TechZen">
                <div class="orgn"
                    style="font-size: 24px;color: rgb(28, 23, 46); font-family: 'Times New Roman', Times, serif; font-weight: 700;">
                    Sarvanam Software Pvt. Ltd </div>
                <div class="post" style=" font-size: 20px;"> Assistant Sales and Marketing Manager </div>
                <div class="date" style="font-style: italic; font-weight: 600;"> (Feb 2022 – Dec 2022) </div>
                <ul style="line-height: 1.5;">
                    <li> Developed and executed marketing strategies that enhanced brand visibility and directly
                        supported sales growth</li>
                    <li> Designed marketing materials and email campaigns aligned with business goals and client
                        engagement.</li>
                    <li> Led customer relationship programs, improving client retention and satisfaction through
                        proactive communication. </li>
                    <li> Analyzed customer feedback to implement targeted improvements in service and marketing
                        operations. </li>
                </ul>
            </div>
            <div class="indexp">
                <img src="../Images/ascen  ifly_1691054331.png"
                    style="width:160px; height:50px; margin-top: 35px; padding-bottom: 15px;" alt="TechZen">
                <div class="orgn"
                    style="font-size: 24px;color: rgb(28, 23, 46); font-family: 'Times New Roman', Times, serif; font-weight: 700;">
                    Ascendify Pvt. Ltd </div>
                <div class="post" style=" font-size: 20px;"> Program Officer </div>
                <div class="date" style="font-style: italic; font-weight: 600;"> (Mar 2021 – Feb 2022) </div>
                <ul style="line-height: 1.5;">
                    <li> Planned and executed sales-focused training programs and events, contributing to client growth
                        and engagement. </li>
                    <li> Conducted in-depth market research to align consultancy offerings with client and market needs.
                    </li>
                    <li> Maintained stakeholder relationships, ensuring smooth program delivery and continuous feedback
                        loops. </li>
                    <li> Created post-program reports and documentation to evaluate success metrics and optimize future
                        initiatives. </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- For Contact -->
    <div id="Contact" style="margin-top: 80px; background: rgb(28, 23, 46); display:grid; grid-template-columns: 30% 40% 30%; padding-bottom: 20px;">
        <div class="connect" style="margin-left: 100px;">
            <p style="color: #F8F8F8; margin-top: 25%; font-size: 26px; text-align: center;"> Have an opportunity? </p>
            <h1 style="color: #F8F8F8; font-size: 40px; margin-top: -20px;"> GET IN TOUCH </h1> 
        </div>
        <div class="email" style="margin-top: 90px; margin-left:20%;">
            <input class="CM" style="background: transparent; border: 1px solid #F8F8F8; padding: 10px 20px 10px 20px; font-size: 20px; border-radius: 5px;" type="Emailme" placeholder="Email to Connect">
            <a href="#"> <button class="btn" style="background-color:#F8F8F8; color: rgb(28, 23, 46); font-size: 20px; border-radius: 5px; font-style:bold; cursor: pointer; padding:10px; margin-left: 5px;"> Send Email </button></a> 
        </div> 
            <div class="CN" style=" margin-left: 25%; margin-top: 50px;">
                <H2 style="color: #F8F8F8; font-style: italic;"> Connect with me </H2>
                <div class="socials" style="color:#F8F8F8; margin-top: -2px;">
                <i class="fa-brands fa-facebook fa-2xl"></i>
                <i class="fa-brands fa-linkedin fa-2xl"></i>
                <i class="fa-brands fa-square-whatsapp fa-2xl"></i>
                <i class="fa-brands fa-pinterest fa-2xl "></i>
                </div>
            </div>
    </div>
</body>

</html>