<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Portfolio</title>
    <link rel="stylesheet" type="text/css" href="../styling/portfolio.css">

</head>

<body>
    <div id="main">
        <!--for nav-->
        <div class="nav">
            <!--for menu-->
            <div class="menu">
                <ul>
                    <li><a href="#"> HOME </a></li>
                    <li><a href="#"> ABOUT </a></li>
                    <li><a href="#"> SKILLS </a></li>
                    <li><a href="#"> EXPERIENCE </a></li>
                </ul>
                <div class="GIT">
                    <ul>
                        <li><a href="#">GET IN TOUCH</a></li>
                    </ul>
                </div>
                
            </div>
        </div>
        <div class="Intro">
            <h1>SARINA <br> <span> MAHARJAN </span></h1>
            <h2> Business Development</h2>
            <div class="Box">
            <a href="#"><button class="Resume"> RESUME </button></a>
            <a href="#"><button class="Resume"> CONTACT </button></a>
            </div>

            <div class="socials">
                 <li><a href="#"><img class="icons" src="../Images/Fb.png"> </a> </li>
                 <li><a href="#"><img class="icons" src="../Images/insta.png"></a></li>
            </div>
           
        </div>  
    </div>
    <div id="aboutme">
        <h1> Who am I? <br> ABOUT ME </h1>
        <div class="photo">
            <img src="../Images/6643 Sarina.jpg" alt="Sarina Maharjan">
        </div>
        <div class="aboutdesc">
            <h3> Sarina Maharjan's Detail</h3>
            <p> With a Master’s degree in Business Management
                 and diverse professional experience, I specialize in business development, 
                 strategic communication, sales & marketing, research, and program management.

I thrive in dynamic teams, love collaborating on innovative solutions, and firmly believe that change is an opportunity for growth. <br> <br> My journey so far has been driven by curiosity, determination, and a love for turning insights into action. I value constructive feedback, growth, and adapting to change — qualities that keep me moving forward in every project I take on. </p>
            <a href="#"><button class="CV"> Download CV</button> </a>
        </div>
    </div>

    <div id="Expertise">
        <h1> What I Do? </h1>
        <div class="maincomponent">
            <div class="component"> Business Development & Strategy </div>
            <div class="component"> Business Development & Strategy </div>
            <div class="component"> Business Development & Strategy </div>
            <div class="component"> Business Development & Strategy </div>
            <div class="component"> Business Development & Strategy </div>
            <div class="component"> Business Development & Strategy </div>
        </div>

    </div>

    <div id="Skills" style=" width:100%; background: #000; color: #fff;">
        <span style="padding: 20px; display: flex; justify-content: center;">Skills</span><br/>
        <!-- <h3>Test</h3> -->
        <div style=" width: 50%; float: left; background-color: inherit; color: #fff;">
            <h2> Technical Skills </h2>
              <ul>
                    <li> Business Analysis & Management Tools </li>
                    <li> Social Media Handling & Content Creation </li>
                    <li> MS Office 365 </li>
                    <li> Basic Graphic Designing </li>
                    <li> Email campaign design & marketing collateral </li>
                </ul>
        </div>
        <div style="width: 50%; float:right; background-color: inherit; color: #fff;">
            <h2> Non- Technical Skills </h2>
              <ul>
                    <li> Strategic communication & negotiation </li>
                    <li> Customer dealing & relationship management </li>
                    <li> Organizational skills & problem-solving attitude </li>
                    <li>Team collaboration & ability to work independently </li>
                </ul>
        </div>
    </div>
    
        <!-- <h2>Test</h2>
        <div id="test" style="width: 100%; background-color: #000 !important;">
            <div style="width: 50%; float: left; background-color: inherit; ">
                <h3>Technical Skills</h3>
            </div>
            <div style="width: 50%; float: right; background-color: inherit; ">
                <h3>Non Technical skill</h3>
            </div>
        </div> -->
    
</body>
</html>
