<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- <div id="about" style="background: rgb(28, 23, 46);">
        <H1> who I am </H1>
        <p> ABOUT ME </p>
        <div class="underline"> </div>
        
        <div class="introduction">
            <div class="intro" style=" width: 40%; float: left;">
                <h1> Sarina's Detail </h1>
                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad beatae praesentium voluptate necessitatibus quia excepturi tempora. Nesciunt quam sequi assumenda ad quia obcaecati architecto. Est animi voluptas rem maxime quibusdam.</p>
            </div>
            <div class="photo" style="width:40%; float:right;">
                <img src="#" alt="Sarina Maharjan">
            </div>
        </div>
    </div> -->



       <div id="about" style="padding-top: 50px; padding-bottom: 50px; background-color: rgb(28, 23, 46); height:500px ">
        <pre
            style="font-size: 30px;color: rgb(28, 23, 46); font-family: 'Times New Roman', Times, serif; font-weight: 900; text-align: center;"> Who am I? <br> <span style="text-align: center; font-size: 60px; color: rgb(28, 23, 46); font-family: 'Times New Roman', Times, serif;"> ABOUT ME </span>
        </pre>
        <div class="underline"
            style="width:200px; height:8px; background-color: rgb(28, 23, 46); margin-left: 600px; margin-top: -50px; margin-bottom: 30px;">
        </div>
            <div class="introduction" style="margin-top: 80px; background: rgb(28, 23, 46);">
                <div class="intro" style="width: 40%; float:left; margin-left: 100px;">
                    <h1 style="font-weight: 600; font-family: 'Times New Roman', Times, serif; font-size: 36px; color: rgb(28, 23, 46);">
                Sarina Maharjan's Detail</h1>
                    <p style="text-align: justify; font-size: 20px;"> With a Master’s degree in Business Management and diverse
                professional experience, I specialize in business development, strategic communication, sales &
                marketing, research, and program management. I thrive in dynamic teams, love collaborating on innovative
                solutions, and firmly believe that change is an opportunity for growth. My journey so far has been
                driven by curiosity, determination, and a love for turning insights into action. I value constructive
                feedback, growth, and adapting to change — qualities that keep me moving forward in every project I take
                on. </p>
                </div>
                <div class="photo" style="width:50%; float:right;">
                <img src="#" alt="Sarina Maharjan"
                style="width:300px; height: 300px; margin-top: 30px; margin-right: 200px; float:right;">
                </div>
        </div>
    </div>
</body>
</html>